<div class="form-filter">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">{{ form_label(form.name, null, {'label': 'Название'}) }}</div>
                <div class="col-md-6">{{ form_widget(form.name, { 'attr' : { 'placeholder' : 'Ищем по названию'}}) }}</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">{{ form_label(form.description, null, {'label': 'Описание'}) }}</div>
                <div class="col-md-6">{{ form_widget(form.description, { 'attr' : { 'placeholder' : 'Пару строчек описания..'}}) }}</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-5">{{ form_label(form.publishingHouse, null, {'label': 'Издательство'}) }}</div>
                <div class="col-md-5">{{ form_widget(form.publishingHouse) }}</div>
            </div>
        </div>
        <div class="col-md-3">
            {{ form_widget(form.find) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.dateRelease, null, {'label': 'Дата выхода'}) }}
                </div>
                <div class="col-md-6">
                    {{ form_widget(form.dateRelease , { 'attr' : { 'placeholder' : 'Введите дату'}}) }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">{{ form_label(form.author, null, {'label': 'Автор'}) }}</div>
                <div class="col-md-5">{{ form_widget(form.author) }}</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">{{ form_label(form.sortByName, null, {'label': 'Сортировка по названию'}) }}</div>
                <div class="col-md-5">{{ form_widget(form.sortByName) }}</div>
            </div>
        </div>
        <div class="col-md-3">
            {{ form_widget(form.reset) }}
        </div>
    </div>
    {{ form_row(form.filter) }}
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>