{% extends '@Book/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@BookBundle/Resources/public/css/list.css'%}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}
{% block h1 %}Список книг{% endblock %}
{% block body %}
    {% include '@Book/Default/filter.html.twig' %}
    {% if books|length %}
        {% for book in books %}
            <div class="row book">
                <div class="col-md-2 photo">
                    {% if book.photo is not null %}
                        <img src="{{ book.photo }}" width="120" height="120" alt="{{ book.name }}">
                    {% else %}
                        <img src="{{ asset('bundles/book/images/no-photo.png') }}" width="120" height="120"
                             alt="Нет фото">
                    {% endif %}
                </div>
                <div class="col-md-10 wrapper">
                    <div class="row title">
                        <div class="col-md-6">
                            <div><span class="bold">Название:</span> {{ book.name }}</div>
                            <div><span class="bold">Автор: </span> {{ book.author }}</div>
                            <div><span class="bold">Издательство:</span> {{ book.publishingHouse }}</div>
                            <div><span class="bold">Год:</span> {{ book.dateRelease }}</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="row description">
                        <div class="col-md-6">
                            {{ book.description }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p align="center">Ничегошеньки не найдено..</p>
    {% endif %}
{% endblock %}