{% extends '@Book/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@BookBundle/Resources/public/css/new_book.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}
{% block h1 %}Добавление новой книги{% endblock %}
{% block body %}
    <div class="new-book">
        {{ form_start(form, {'method': 'POST'}) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-1">{{ form_label(form.name, null, {'label': 'Название'}) }}</div>
            <div class="col-md-5">{{ form_widget(form.name) }}</div>
        </div>
        <div class="row">
            <div class="col-md-1">{{ form_label(form.description, null, {'label': 'Описание'}) }}</div>
            <div class="col-md-5">{{ form_widget(form.description) }}</div>
        </div>
        <div class="row">
            <div class="col-md-1">{{ form_label(form.photo, null, {'label': 'Фото'}) }}</div>
            <div class="col-md-5">{{ form_widget(form.photo) }}</div>
        </div>
        <div class="row">
            <div class="col-md-1">{{ form_label(form.dateRelease, null, {'label': 'Дата выхода'}) }}</div>
            <div class="col-md-5">
                {{ form_widget(form.dateRelease) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">{{ form_label(form.author, null, {'label': 'Автор'}) }}</div>
            <div class="col-md-5">{{ form_widget(form.author) }}</div>
        </div>
        <div class="row">
            <div class="col-md-1">{{ form_label(form.publishingHouse, null, {'label': 'Издательство'}) }}</div>
            <div class="col-md-5">{{ form_widget(form.publishingHouse) }}</div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">{{ form_widget(form.save) }}</div>
        </div>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}