{% extends '@Book/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@BookBundle/Resources/public/css/publishingHouse.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}
{% block h1 %}Добавление издательства / список{% endblock %}
{% block body %}
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-8">
            {{ form_label(form.name, null, {'label': 'Название'}) }}
            : {{ form_widget(form.name) }} {{ form_widget(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>
    <hr>
    <div class="row">
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>Название</th>
            </tr>
            </thead>
            <tbody>
            {% for publishingHouse in publishingHouses %}
                <tr>
                    <td>
                        {{ publishingHouse.id }}
                    </td>
                    <td>
                        {{ publishingHouse.name }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}