<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Vovka">
    <title>{% block title %}Тестовый шаблон{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets '@template' '@bootstrap_css' combine=true %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
{{ include('@Book/navbar.html.twig') }}
<div class="container">
    <div class="page-header">
        <h1>{% block h1 %}Главный заголовок{% endblock %}</h1>
    </div>
    {% block body %}

    {% endblock %}
</div>
{{ include('@Book/footer.html.twig') }}
{% block javascripts %}
    {% javascripts '@jquery' '@bootstrap_js' combine=true %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>