<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Vovka Book Magazine</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {{ knp_menu_render('BookBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
        </div>
    </div>
</nav>