.book {
    border: 1px solid #CCC;
    margin: 30px 0;
    background-color: #f2f2f2;
}

.book > div {
    min-height: 150px;
}

.book > .photo {
    text-align: center;
    position: relative;
}

.book > .photo > img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.book > .wrapper {
    padding: 15px;
}

.book > .wrapper > .title > div .bold {
    font-weight: bold;
}

.book > .wrapper > .description {
    margin: 10px 0;
    padding: 15px;
    background-color: rgba(77, 136, 80, 0.29);
}

.form-filter .row {
    padding: 5px;
}